div{
    background-color: blanchedalmond;
    border: 2px solid black;
    width: 200px;
    height: 130px;
}

/*
#d2{
    position: fixed;
    top: 10%;
    left: 300px;
}
*/

#d2{
    position: fixed;
    top: 30px;
    left: 100px;
}

#d2 h3{
    position: absolute;
    top: 0;
    right: 40px;
    margin: 0;
}

#d2 p{
    position: absolute;
    bottom: 0;
    margin: 0;
}

div:last-of-type{
    position: relative;
    z-index: 1;
}