*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h3{
    margin: 7px;
}
header{
    text-align: center;
    color: rgb(29, 136, 224);
    padding: 10px;
    font-size: 2rem;
}
nav{
    background-color: rgb(29, 136, 224);
    overflow: hidden;
}
nav .slika_nav{
    float: left;
    height: 51px;
}
nav .slika_nav img{
    width: 100px;
    height: 100%;
}
nav a{
    float: left;
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 1.8rem;
}
.div1{
    margin: 0 10px;
    margin-top: 20px;
}

.row{
    width: 100%;
    overflow: hidden;
}

[class*="col-"]{
    float: left;
} 

.letovi img{
    width: 30%;
    height: 150px;
}
.destinacije{
    margin-left: 100px;
}
.destinacije img{
    width: 20%;
    height: 150px;
    
}
.kontinenti{
    overflow: hidden;
    margin-left: 7px;
}
.kontinenti a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 3px;
    margin-right: 300px;
    background-color: darkgrey;
    padding: 7px;
}
.div3{
    margin:20px 10px;
}
.informacije img{
    width: 200px;
    height: 150px;
}
input{
    margin: 5px 0;
}
label{
    display: block;
}
.email input{
    width: 50%;
}
.check input{
    margin: 5px 0;
}
.dugme input{
    margin: 5px 0;
    background-color: blue;
    color: white;
}

[class*="col-"]{
    float: left;
} 

[class*="col-"]{
    width: 100%;
} 

@media only screen and (min-width:1000px){
    .col-1{
        width: calc(100%/12);
    }
    .col-2{
        width: calc(100%/6);
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: calc(100%/3);
    }
    .col-5{
        width: calc(100%/12*5);
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: calc(100%/12*7);
    }
    .col-8{
        width: calc(100%/12*8);
    }
    .col-9{
        width: calc(100%/12*9);
    }
    .col-10{
        width: calc(100%/12*10);
    }
    .col-11{
        width: calc(100%/12*11);
    }
    .col-12{
        width: 100%;
    }
}