/*VERTIKALNI MENU*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topbar ul{
    overflow: hidden;
    list-style-type: none;
}

.topbar ul li{
    float: left;
    width: 25%;
    border: 1px solid aqua;
    text-align: center;
    background-color: brown;
}

.topbar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    font-size: 18px;
}

.topbar ul li a:hover{
    background-color: chocolate;
}

/*
body{
    padding-top: 40px;
}
*/

/*HORIZONTALNI MENU*/

.red{
    position: relative;
    top: 42px;
    overflow: hidden;
}
.red aside{
    float: left;
    width: 30%;
    background-color: aqua;
}
.red aside ul{
    list-style-type: none;
}
.red aside ul li{
    border: 1px solid aqua;
    text-align: center;
    background-color: rgb(100, 56, 6);
}
.red aside ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    font-size: 18px;
}
.red aside ul li a:hover{
    background-color: rgb(71, 58, 5);
}
.red section{
    float: left;
    width: 70%;
    background-color: burlywood;
    padding: 20px;
}

/*Padajuci menu*/

.dropdown{
    display: none;
}

.topbar li:nth-child(4):hover .dropdown{
    display: block;
}